.form {
  &-group {
    margin: 1.2rem 0;
  }
  &-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  textarea,
  select {
    width: 100%;
    display: block;
    padding: 0.4rem;
    border: 1px solid #ccc;
    font-size: 1.2rem;
  }
  input[type="submit"] {
    font: inherit;
  }

  .social-input {
    display: flex;
    flex-direction: row;

    i {
      padding: 0.5rem;
      width: 4rem;
    }
  }
  .fa {
    &-twitter {
      color: #26a9e1;
    }
    &-instagram {
      color: #3f729b;
    }
    &-facebook {
      color: #395797;
    }
    &-youtube {
      color: #d8251e;
    }
    &-linkedin {
      color: #25bee6;
    }
  }
}
