@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  //container
  .container {
    margin-top: 8rem;
  }

  //text styles
  .x-large {
    font-size: 3rem;
  }
  .large {
    font-size: 2rem;
  }
  .lead {
    font-size: 1rem;
  }
  //navbar
  .navbar {
    display: block;
    align-items: center;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: 1rem;
  }

  .dash-buttons {
    a {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  //profiles
  .profile {
    display: flex;
    flex-direction: column;
    text-align: center;

    ul {
      display: flex;
      flex-direction: row;

      i {
        padding: 0.5rem;
      }
    }
  }
  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .post {
    grid-template-columns: 1fr;
    a,
    button {
      margin: 0.3rem;
    }
  }
}
