//alert
.alert {
  margin: 1rem;
  padding: 0.8rem;
  opacity: 0.9;

  &-danger {
    @include set-background($danger-color);
  }
  &-warning {
    @include set-background($danger-color);
  }
  &-success {
    @include set-background($danger-color);
  }
}

//container

.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

//Text styles

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-primary {
  color: $primary-color;
}

//Backgrounds

.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: solid 1px #ccc;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-white {
    @include set-background(#fff);
    border: solid 1px #ccc;
  }
}

//Buttons
.btn {
  display: inline-block;
  background: $light-color;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;

  &-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($color: $primary-color, $amount: 5%);
    }
  }
  &-light {
    @include set-background($light-color);
    &:hover {
      background: lighten($color: $light-color, $amount: 5%);
    }
  }
  &-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($color: $dark-color, $amount: 5%);
    }
  }
  &-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($color: $success-color, $amount: 5%);
    }
  }
  &-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($color: $danger-color, $amount: 5%);
    }
  }
  &:hover {
    background: lighten($color: $primary-color, $amount: 5%);
    color: #fff;
  }
}
